.wrap{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.main{
    width: 18%;
    margin: 2px;
    border: #faaa2c solid 1px;
}
.header{
    background: #faaa2c;
    color: white;
}