.title{
    background: wheat;
    text-align: center;
    color: #592459;
}

.styles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: wheat;
    padding: 10px;
}

.launchContainer{
    margin: 10px;
    border: 1px solid #d29f9f;
    text-align: center;
    background: #592459;
    color: white;
    border-radius: 15px;
}