.wrap{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.main{
    width: 25%;
    margin: 2px;
    border: #faaa2c solid 1px;
    text-align: center;
    color: #85e17e;
    background: #3c833c;
    border-radius: 15%;
}
.header{
    background: #faaa2c;
    color: white;
}
.top{
    text-align: center;
}
.exact{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}
.part{
    border: black solid 1px;
    border-radius: 10px;
    width: 25%;
    margin-top: 10px;
    text-align: center;
    background: #a47078;
    color: #dec0c0;

}
.part>img{
    border-radius: 15%;

}